<md-button class="md-fab md-fab-bottom-right" aria-label="add" ng-click="mostrarDialog('C', undefined, $event)">
	<ng-md-icon icon="add"></ng-md-icon>
</md-button>

<md-toolbar ng-show="!showSearch">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="menu" ng-click="toggleSidenav('left')" hide-gt-md>
			<ng-md-icon icon="menu"></ng-md-icon>
		</md-button>			
		<md-button class="md-icon-button" aria-label="arrowback" ng-click="comeBack()">
			<ng-md-icon icon="arrow_back" size="25"></ng-md-icon>
		</md-button>
		<h3>
			{{volume.nome}}
		</h3>
		<span flex></span>
		<md-button class="md-icon-button" aria-label="search" ng-click="showSearch = !showSearch">
			<ng-md-icon icon="search"></ng-md-icon>
		</md-button>
	</div>
</md-toolbar>

<md-toolbar class="md-hue-1" ng-show="showSearch">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="arrowback" ng-click="showSearch = !showSearch">
			<ng-md-icon icon="arrow_back"></ng-md-icon>
		</md-button>
		<md-input-container md-no-float flex>
			<input ng-model="search.nome" placeholder="Pesquisar">
		</md-input-container>
		<md-button class="md-icon-button" aria-label="search" ng-click="showSearch = !showSearch">
			<ng-md-icon icon="search"></ng-md-icon>
		</md-button>
	</div>
</md-toolbar>

<md-content md-scroll-y layout="column" flex>
	<div class="doc-content">
		<md-card ng-repeat="element in capitulos | orderBy: 'numero' | filter:search" md-theme="default" md-theme-watch ng-click="mostrarDialog('UD', element, $event)">
			<md-card-title>
				<md-card-title-text>
					<span class="{{ element.status ? 'headline-red' : 'headline' }}">{{element.numero + '. ' + element.nome}}
						<div ng-show="element.statusVirtual == true" class="card-div-status-virtual">
							<ng-md-icon class="md-secondary md-hue-3" icon="folder_special" style="fill: blue" size="30"></ng-md-icon>
						</div>
					</span>
				</md-card-title-text>			
			</md-card-title>						
		</md-card>
	</div>
</md-content>

<script type="text/ng-template" id="editor.html">
	<md-dialog class="dialog-95">
		<form name="inputForm" novalidate>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="retorno()">
						<ng-md-icon icon="arrow_back"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Retorno</md-tooltip>					
					</md-button>
					<h2>{{view.operaction}}</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="showExcluir()" ng-show="view.operaction === 'Modificar'">
						<ng-md-icon icon="delete"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Excluir</md-tooltip>	
					</md-button>
					<md-button class="md-icon-button" ng-click="salvar()" ng-show="view.operaction === 'Adicionar' || view.operaction === 'Modificar'" ng-disabled="inputForm.$invalid">
						<ng-md-icon icon="save"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Salvar</md-tooltip>
					</md-button>
				</div>
			</md-toolbar>
			<md-dialog-content>
				<div class="md-dialog-content" flex>
					<md-content layout-padding ng-cloak>							
						<div layout-gt-sm="row">
							<md-input-container class="md-block input-number-margin-right" flex-gt-sm>
        						<label>N&#250;mero</label>
        						<input type="text" name="numero" required md-maxlength="20" ng-model="view.selectedItem.numero">
								<ng-messages for="inputForm.numero.$error">
									<ng-message when="required">O campo e obrigatorio</ng-message>
									<ng-message when="md-maxlength">Use 20 caracteres ou menos para o n&#250;mero</ng-message>
                       			</ng-messages>
      						</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Nome</label>
								<input type="text" name="nome" required md-maxlength="200" ng-model="view.selectedItem.nome" />
								<ng-messages for="inputForm.nome.$error">
									<ng-message when="required">O campo e obrigatorio</ng-message>
									<ng-message when="md-maxlength">Use 255 caracteres ou menos para o nome</ng-message>
                       			</ng-messages>
							</md-input-container>
						</div>
						<div>
							<md-switch class="md-primary" ng-model="view.selectedItem.status">J&#225; li</md-switch>
	
							<md-switch class="md-primary" ng-model="view.selectedItem.statusVirtual">Contem na cole&#231;&#227o virtual</md-switch>
						</div>					
					</md-content>
				</div>								
			</md-dialog-content>
		</form>
	</md-dialog>
</script>