<md-toolbar ng-show="!showSearch">
	<div class="md-toolbar-tools">
		<md-button ng-click="toggleSidenav('left')" hide-gt-md arial-label="Menu">
			<ng-md-icon icon="menu"></ng-md-icon>
		</md-button>
		<h3>
			<a ng-href="#/mangas">Mang&aacute;s</a>
		</h3>
		<ng-md-icon icon="keyboard_arrow_right" fill="none"></ng-md-icon> 
		<h3>
			<a ng-href="#/manga/{{titulo.id}}">{{manga.titulo}}</a>
		</h3>
		<ng-md-icon icon="keyboard_arrow_right" fill="none"></ng-md-icon>
		<h3>
			<a ng-href="#/manga/{{titulo.id}}/{{volume.id}}">{{volume.nome}}</a>
		</h3>
		
		<span flex></span>
		<md-button arial-label="Search" ng-click="showSearch = !showSearch">
			<ng-md-icon icon="search" fill="none"></ng-md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar class="md-hue-1" ng-show="showSearch">
	<div class="md-toolbar-tools">
		<md-button ng-click="showSearch = !showSearch" arial-label="Back">
			<ng-md-icon icon="arrow_back"></ng-md-icon>
		</md-button>
		<md-input-container md-no-float flex>
			<input ng-model="search.nome" placeholder="enter search">
		</md-input-container>
		<md-button arial-label="Search" ng-click="showSearch = !showSearch">
			<ng-md-icon icon="search" fill="none"></ng-md-icon>
		</md-button>				
	</div>
</md-toolbar>

<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="mostrarDialog('C', undefined, $event)">
	<ng-md-icon icon="add" fill="none"></ng-md-icon>
</md-button>

<md-card ng-repeat="element in capitulos | orderBy: 'numero' | filter:search" md-theme="default" md-theme-watch ng-click="mostrarDialog('UD', element, $event)">
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">{{element.numero + ' - ' + element.nome}}</span>          			          		
		</md-card-title-text>				
	</md-card-title>						
</md-card>

<script type="text/ng-template" id="editor.html">
	<md-dialog arial-label="Editar" class="dialog-95">
		<form name="inputForm" novalidate>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="retorno()">
						<ng-md-icon icon="arrow_back" fill="none" arial-label="Retorno"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Retorno</md-tooltip>					
					</md-button>					
					<h2>{{view.operaction}}</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="excluir()" ng-show="view.operaction === 'Modificar'">
						<ng-md-icon icon="delete" fill="none" arial-label="Excluir"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Excluir</md-tooltip>	
					</md-button>
					<md-button class="md-icon-button" ng-click="salvar()" ng-show="view.operaction === 'Adicionar' || view.operaction === 'Modificar'" ng-disabled="inputForm.$invalid">
						<ng-md-icon icon="save" fill="none" arial-label="Salvar"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Salvar</md-tooltip>
					</md-button>
				</div>
			</md-toolbar>
			<md-dialog-content>				
				<div class="md-dialog-content" flex>
					<md-content layout-padding ng-cloak>							
													
							<md-input-container class="md-block">
								<label>Nome</label>
								<input type="text" name="nome" required md-maxlength="200" ng-model="view.selectedItem.nome" />
								<ng-messages for="inputForm.nome.$error">
									<ng-message when="required">O campo e obrigatorio</ng-message>
									<ng-message when="md-maxlength">Use 255 caracteres ou menos para o nome</ng-message>
                       			</ng-messages>
							</md-input-container>
							<md-input-container>
        						<label>Numero</label>
        						<input type="number" required ng-model="view.selectedItem.numero">
      						</md-input-container>
						
						<md-datepicker ng-model="view.selectedItem.anoPublicacaoJP" md-placeholder="Publica&#231;&#227;o jap"></md-datepicker>
					</md-content>
				</div>								
			</md-dialog-content>
		</form>
	</md-dialog>
</script>

<!-- 
<nav class="navbar navbar-default">
	<div class="container-fluid">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="#/manga-detail/{{manga.id}}">{{manga.titulo}}</a>
  			<a class="navbar-brand" href="#/manga/{{manga.id}}/{{titulo.id}}">/ {{titulo.titulo}}</a><a class="navbar-brand"> / {{volume.nome}}</a>
  		</div>
  	</div>
</nav>

<div class="col-sm-12">
	<div class="col-sm-3">
	    	<img style="height: 210px;width: 160px;" class="img-responsive img-rounded" data-ng-src="data:image/(png|jpg);base64,{{volume.imagem}}"/>
		</div>
    <div class="col-sm-9">
    	<div id="capitulo" class="bs-form">
		    <form class="form-horizontal" name="capituloForm">		    					
				<div class="col-sm-12">
					<div class="form-group" show-errors>
						<div class="col-sm-3">
							<input type="number" class="form-control" id="numero" name="numero" ng-model="capitulo.numero" placeholder="Numero" required>							
						</div>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="nome" name="nome" ng-model="capitulo.nome" placeholder="Nome" required>
						</div>
					</div>
					<div class="form-group" show-errors>
						<div class="col-sm-6">
							<select class="form-control" id="status" name="status" ng-model="capitulo.status" required>
								<option value="">-- Selecione uma opcao --</option>
								<option value="J&aacute; Li">J&aacute; li</option>
						      	<option value="Lendo">Lendo</option>
						      	<option value="N&atilde;o li">N&atilde;o li</option>
						      	<option value="Relendo">Relendo</option>
						      	<option value="Vou ler">Vou ler</option>
						      	<option value="N&atilde;o Vou ler">N&atilde;o Vou ler</option>
						      	<option value="Desistir">Desistir</option>
							</select>
						</div>					
					</div>
				</div>
				<div class="form-group">
		    		<div class="col-sm-10">
						<button type="submit" ng-click="add()" ng-model="capitulo" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="col-md-12">
		<input type="text" class="form-control ng-valid ng-dirty" placeholder="Search for.." ng-model="query" ng-change="updateFilteredList()">
		<table class="table table-striped" at-table at-paginated at-list="list" at-config="config">
			<thead></thead>
			<tbody>
				<tr ng-click="test(item)">
					<td at-implicit at-attribute="numero" width="50" at-initial-sorting="asc"></td>
		      		<td at-implicit at-attribute="nome" width="200"></td>
		      		<td at-implicit at-attribute="status" width="50"></td>	      		
		    	</tr>
			</tbody>
		</table>
		
		<at-pagination at-list="list" at-config="config"></at-pagination>
	</div>
</div>
 -->