<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="mostrarDialog('C', undefined, $event)">
	<ng-md-icon icon="add" fill="none"></ng-md-icon>
</md-button>
<md-toolbar ng-show="!showSearch">
	<div class="md-toolbar-tools">
		<md-button ng-click="toggleSidenav('left')" hide-gt-md arial-label="Menu">
			<ng-md-icon icon="menu"></ng-md-icon>
		</md-button>
		<h3>
            Mang&aacute;s
		</h3>
		<span flex></span>
		<md-button arial-label="Search" ng-click="showSearch = !showSearch">
			<ng-md-icon icon="search" fill="none"></ng-md-icon>
		</md-button>
	</div>
</md-toolbar>

<md-toolbar class="md-hue-1" ng-show="showSearch">
	<div class="md-toolbar-tools">
		<md-button ng-click="showSearch = !showSearch" arial-label="Back">
			<ng-md-icon icon="arrow_back"></ng-md-icon>
		</md-button>
		<md-input-container md-no-float flex>
			<input ng-model="search.titulo" placeholder="enter search">
		</md-input-container>
		<md-button arial-label="Search" ng-click="showSearch = !showSearch">
			<ng-md-icon icon="search" fill="none"></ng-md-icon>
		</md-button>				
	</div>
</md-toolbar>

<md-card flex-gt-sm="90" flex-gt-md="80">
	<md-content>
		<md-list-item ng-repeat="element in mangas | orderBy: 'titulo' | filter:search" ng-click="mostrarDialog('UD', element, $event)">
			<img data-ng-src="data:image/(png|jpg);base64,{{element.titulos[0].imagem}}" class="md-avatar" />
			<p>{{element.titulo}}</p>
			<ng-md-icon class="md-secondary md-hue-3" icon="send" ng-click="mangaDetail(element)" fill="none" arial-label="Detalhe"></ng-md-icon>
			<md-divider></md-divider>
		</md-list-item>
	</md-content>
</md-card>

<script type="text/ng-template" id="editor.html">
	<md-dialog arial-label="Editar" class="dialog-95">
		<form name="inputForm" novalidate>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="retorno()">
						<ng-md-icon icon="arrow_back" fill="none" arial-label="Retorno"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Retorno</md-tooltip>					
					</md-button>					
					<h2>{{view.operaction}}</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="excluir()" ng-show="view.operaction === 'Modificar'" ng-disabled="true">
						<ng-md-icon icon="delete" fill="none" arial-label="Excluir"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Excluir</md-tooltip>	
					</md-button>
					<md-button class="md-icon-button" ng-click="salvar()" ng-show="view.operaction === 'Adicionar' || view.operaction === 'Modificar'" ng-disabled="inputForm.$invalid">
						<ng-md-icon icon="save" fill="none" arial-label="Salvar"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Salvar</md-tooltip>
					</md-button>
				</div>
			</md-toolbar>
			<md-dialog-content>
				<md-content layout-padding ng-cloak>					
					<md-input-container class="md-block">
						<label>Titulo</label>
						<input type="text" name="titulo" required md-maxlength="255" ng-model="view.selectedItem.titulo" />
						<ng-messages for="inputForm.titulo.$error">
							<ng-message when="required">O campo e obrigatorio</ng-message>
								<ng-message when="md-maxlength">Use 255 caracteres ou menos para o titulo</ng-message>
                            </ng-messages>
					</md-input-container>					
				</md-content>
			</md-dialog-content>
		</form>
	</md-dialog>
</script>
