<nav class="navbar navbar-default">
	<div class="container-fluid">
  		<div class="navbar-header">
  			<a ng-href="#/manga-create"><ng-md-icon icon="add_circle" size="50px"></ng-md-icon></a>
  		</div>
  	</div>
</nav>
<div class="col-sm-12">
	<div class="col-md-12">
		<input type="text" class="form-control ng-valid ng-dirty" placeholder="Search for.." ng-model="query" ng-change="updateFilteredList()">
		
		<table class="table table-striped" at-table at-paginated at-list="list" at-config="config">
		  <thead></thead>
		  <tbody>
		    <tr>
		      <td at-implicit at-sortable at-attribute="id" width="150" at-initial-sorting="asc"></td>
		      <td at-implicit at-sortable at-attribute="titulo"  width="250"></td>
		      <td><a ng-href="#/manga-detail/{{item.id}}"><ng-md-icon icon="edit" size="20px"></ng-md-icon></a></td>
		    </tr>
		  </tbody>
		</table>
		
		<at-pagination at-list="list" at-config="config"></at-pagination>
	</div>
</div>