.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    text-align: center;
    padding: 50px 10px;
}

.hobby-list .md-button {
  color: black;
  text-align: left;
  width: 95%;
}

.hobby-list .selected {
  color: #03a9f4;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 4px 16px; 
  vertical-align: middle;
  width: 60px;
}

.full-heigth {
    height: -moz-calc(100% - 64px); 
    height: -webkit-calc(100% - 64px);
    height: calc(100% - 64px);
}

.dialog-95 {
    width: 95%;
    height: auto;
}

.image-relative {
	width: 250px;
    height: 330px;    
}

.image-relative-volume {
    width: 160px;
    height: 190px;
    margin-top: 40px;
}

.card-titulo {
	width: 345px;
}

.red {
    color: red;
    padding-top: 0;
    font-size: 14px;
}

/** Material angular **/	
$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}

md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; /* round toolbar buttons */
  }
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
  background-color: rgb(63,81,181);  
}

md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; /* adjust for svg viewbox */
  }
}

md-toolbar.md-hue-1:not(.md-menu-toolbar) {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.md-button.md-fab {
	line-height: 15px;
}
.md-button {
	line-height: 0;
}

md-input-container {
	display: flex;	
}

 .site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open {
    width: 272px;
    min-width: 272px;
    max-width: 272px;
 }
 
.layout-content, .doc-content {
    max-width: 1000px;
    margin: 10px;
    box-sizing: border-box;
}


md-grid-list {
  margin: 8px; }
md-grid-tile {
  transition: all 400ms ease-out 50ms; }
  
md-grid-list md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px;
}
md-grid-tile-footer h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }