.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    text-align: center;
    padding: 50px 10px;
}

.hobby-list .md-button {
  color: black;
  text-align: left;
  width: 95%;
}

.hobby-list .selected {
  color: #020202;
  background: lightgray;
  font-weight: 600;
}

.face { 
  display: inline-block;
  margin: 4px 16px; 
  vertical-align: middle;
  width: 60px;
}

.dialog-95 {
    width: 95%;
    height: auto;
}

.image-default {
	width: 240px;
	height: 343px;
}

.card-image {
	width: 220px;
}

.card-div-image {
     margin-right: 20px;
     margin-left: 15px;
     margin-bottom: 10px;
}

.card-title-image {
	width: 240px;
}

.card-title-image-classificacao {
	width: 40px; 
	margin: 0 6px;	
}

.card-div-margin-left {
	margin-left: 10px;
}

.card-title {
	width: 360px;
}

.card-title-subhead {
	color: rgba(0,0,0,0.54);
	padding-top: 0;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: .020em;
	line-height: 23px;
}

.subhead {
	color: rgba(0,0,0,0.54);
	padding-top: 0;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .020em;
	line-height: 25px;
}

.subhead-red {
    color: red;
    padding-top: 0;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: .020em;
	line-height: 25px;
}

.headline {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.headline-red {
    color: red;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.card-div-title-count {
	margin-left: 10px;
}

.green {
    color: green;
    padding-top: 0;
    font-size: 15px;
    letter-spacing: .005em;
    font-weight: 600;
}

.card-div-status-virtual {
	display: inline-block;
    padding-left: 10px;
}

.card-div-status-virtuais {
	display: inline-block;
    padding-left: 5px;
}

.card-div-status {
	display: inline-block;
}

.grid-title-image {
	max-width: 100%;
    height: auto;
}

.grid-title-image-default {
	max-width: 80%;
    height: auto;
}

/** Material angular **/	
$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}

md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; /* round toolbar buttons */
  }
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
  background-color: rgb(63,81,181);  
}

md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; /* adjust for svg viewbox */
  }
}

md-toolbar.md-hue-1:not(.md-menu-toolbar) {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.md-button {
	line-height: 0;
}
.md-button.md-fab {
	line-height: 15px;
}

md-input-container {
	display: flex;	
}

.site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open {
    width: 350px;
    min-width: 350px;
    max-width: 400px;
 }
 
md-grid-list {
	margin: 8px;
}
md-grid-tile {
  	transition: all 400ms ease-out 50ms;
}
  
md-grid-list md-grid-tile md-grid-tile-footer {
  	background: rgba(0, 0, 0, 0.68);
  	height: 45px;
}
md-grid-list md-grid-tile md-grid-tile-footer figcaption {
  width: 100%;
}
  
md-grid-list md-grid-tile md-grid-tile-footer h3 {
	margin: 0;
  	font-weight: 700;
  	width: 100%;
  	text-align: center;
}

.md-toolbar-tools h3 {
    font-size: larger;
}

md-datepicker {
	margin-top: 12px;
}

.md-datepicker-button {
  width: 36px; 
 }
 
 md-input-container.md-block.input-margin-right {
	margin-right: 10px;"
}

md-input-container.md-block.input-number-margin-right {
	margin-right: 60px;"
}

.md-headline {
	font-size: 20px;
}