<md-button class="md-fab md-fab-bottom-right" ng-click="mostrarDialog('C', undefined, $event)">
	<ng-md-icon icon="add"></ng-md-icon>
</md-button>

<md-toolbar ng-show="!showSearch">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md>
			<ng-md-icon icon="menu"></ng-md-icon>
		</md-button>		
		<h3>Cronologia</h3>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="showSearch = !showSearch">
			<ng-md-icon icon="search"></ng-md-icon>
		</md-button>
	</div>
</md-toolbar>

<md-toolbar class="md-hue-1" ng-show="showSearch">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="showSearch = !showSearch">
			<ng-md-icon icon="arrow_back"></ng-md-icon>
		</md-button>
		<md-input-container md-no-float flex>
			<input ng-model="search.nome" placeholder="Pesquisar">
		</md-input-container>
		<md-button class="md-icon-button" ng-click="showSearch = !showSearch">
			<ng-md-icon icon="search"></ng-md-icon>
		</md-button>				
	</div>
</md-toolbar>

<md-content md-scroll-y layout="column" flex>
	<div layout-padding flex="noshrink">
		<div class="doc-content">
			<md-content class="md-padding" layout-xs="column" layout="row">
				<div flex-xs layout="row">
					<md-card ng-repeat="element in titulos | orderBy: 'ano' | filter:search" class="card-title">
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">{{element.nome}}</span>
								<span class="card-title-subhead">{{element.generos.join(", ")}}</span>
								<span class="card-title-subhead">{{element.anoOriginal | date}}, {{element.emissora}}</span>
	            				<span class="card-title-subhead">Status: {{element.status}}</span>
							</md-card-title-text>
						</md-card-title>						
						<md-card-content layout="row" layout-align="space-between">
							<div ng-show="{{element.temporadas == '' || element.temporadas[0].imagem == null}}">
								<img data-ng-src="img/image-default.png" class="image-default"/>
							</div>
							<div ng-show="{{element.temporadas[0].imagem != null}}">
								<img data-ng-src="data:image/(png|jpg);base64,{{element.temporadas[0].imagem}}" class="card-title-image"/>	
							</div>							
							<md-card-actions layout="column">
								<div>
									<img data-ng-src="img/classificacao_indicativa/{{element.classificacao}}.svg" class="card-title-image-classificacao" />
								</div>
								<md-button class="md-icon-button" ng-click="mostrarDialog('UD', element, $event)">
	           						<ng-md-icon class="md-secondary md-hue-3" icon="mode_edit" size="30"></ng-md-icon>
	         					</md-button>
								<md-button class="md-icon-button" ng-click="next(element)" >
	              					<ng-md-icon class="md-secondary md-hue-3" icon="send" size="30"></ng-md-icon>
	            				</md-button>
	              				<md-button class="md-icon-button" ng-show="countComplete(element.temporadas) === element.temporadas.length">
	              					<ng-md-icon class="md-secondary md-hue-3" icon="done_all" style="fill: green" size="30"></ng-md-icon>
	              				</md-button>
	            				<div class="card-div-title-count">
	            					<h2>{{countComplete(element.temporadas)}}/{{element.temporadas.length}}</h2>
	            				</div>
							</md-card-actions>
						</md-card-content>	
					</md-card>
				</div>
			</md-content>
		</div>
	</div>
</md-content>

<script type="text/ng-template" id="editor.html">
	<md-dialog class="dialog-95">
		<form name="inputForm" novalidate>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="retorno()">
						<ng-md-icon icon="arrow_back"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Retorno</md-tooltip>					
					</md-button>
					<h2>{{view.operaction}}</h2>
					<span flex></span>					
					<md-button class="md-icon-button" ng-click="salvar()" ng-show="view.operaction === 'Adicionar' || view.operaction === 'Modificar'" ng-disabled="inputForm.$invalid">
						<ng-md-icon icon="save"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Salvar</md-tooltip>
					</md-button>
				</div>
			</md-toolbar>
			<md-dialog-content>
				<md-content layout-padding ng-cloak>
					<div>
						<div class="md-dialog-content" flex>							
							<md-input-container class="md-block">
								<label>Nome</label>
								<input type="text" name="nome" required md-maxlength="200" ng-model="view.selectedItem.nome" />
								<ng-messages for="inputForm.nome.$error">
									<ng-message when="required">O campo e obrigatorio</ng-message>
									<ng-message when="md-maxlength">Use 255 caracteres ou menos para o nome</ng-message>
                     			</ng-messages>
							</md-input-container>									
						
							<div layout="column">
								<div ng-show="view.operaction === 'Adicionar'">
									<md-input-container class="md-block">
										<label>Comic</label>
										<md-select name="comic" ng-model="view.selectedItem.comic" md-on-open="loadComics()" style="min-width: 200px;">
											<md-option ng-value="comic" ng-repeat="comic in comics">
												{{comic.nome}}
											</md-option>
										</md-select>
									</md-input-container>							
								</div>
								<div ng-show="view.operaction === 'Modificar'">
									<md-input-container class="md-block">
										<label>Comic</label>
										<input type="text" name="comic" ng-model="view.selectedItem.comic.nome" ng-disabled="true" />
									</md-input-container>
								</div>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block input-margin-right" flex-gt-sm>
									<label>Emissora</label>
        							<md-select ng-model="view.selectedItem.emissora">
          								<md-option ng-repeat="emissora in listEmissora" value="{{emissora.name}}">
            								{{emissora.name}}
          								</md-option>
        							</md-select>
      							</md-input-container>
								<md-input-container class="md-block input-margin-right" flex-gt-sm>
        							<label>Pais de Origem</label>
        							<md-select ng-model="view.selectedItem.paisOrigem">
	          							<md-option ng-repeat="paises in listPaises" value="{{paises.name}}">
    	        							{{paises.category + ' - ' + paises.name}}
        	  							</md-option>
        							</md-select>
      							</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
									<label>Classificacao</label>
        							<md-select name="classificacao" ng-model="view.selectedItem.classificacao" required>
          								<md-option ng-repeat="classificacao in listClassificacao" value="{{classificacao.category}}">
            								{{classificacao.name}}
          								</md-option>
        							</md-select>
									<div class="errors" ng-messages="inputForm.classificacao.$error" ng-if="inputForm.$dirty">
        								<div ng-message="required">O campo e obrigatorio</div>
      								</div>
      							</md-input-container>
							</div>
							
							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-xs>
        							<label>Status</label>
        							<md-select ng-model="view.selectedItem.status">
          								<md-option ng-repeat="status in listStatus" value="{{status.name}}">
            								{{status.name}}
          								</md-option>
        							</md-select>
      							</md-input-container>
								<md-datepicker ng-model="view.selectedItem.anoOriginal" md-placeholder="Ano original"></md-datepicker>
							</div>
							
							<md-input-container class="md-block">
        						<label>Generos</label>
        						<md-select ng-model="view.selectedItem.generos" multiple>          							
									<md-optgroup label="Generos">
										<md-option ng-value="genero.name" ng-repeat="genero in listGeneros">
            								{{genero.name}}
          								</md-option>
									</md-optgroup>
        						</md-select>
      						</md-input-container>
						</div>
					</div>
				</md-content>					
			</md-dialog-content>
		</form>
	</md-dialog>
</script>