<md-toolbar ng-show="!showSearch">
	<div class="md-toolbar-tools">
		<md-button ng-click="toggleSidenav('left')" hide-gt-md>
			<ng-md-icon icon="menu"></ng-md-icon>
		</md-button>		
		<h3>
			<a ng-href="#/anime/{{anime.id}}">{{anime.nome}}</a>
		</h3>
		<ng-md-icon icon="keyboard_arrow_right" fill="none"></ng-md-icon>
		<h3>
			<a ng-href="#/anime/{{anime.id}}/{{titulo.id}}">{{titulo.formato}}</a>
		</h3>	
		<span flex></span>
		<md-button ng-click="showSearch = !showSearch">
			<ng-md-icon icon="search" fill="none"></ng-md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-toolbar class="md-hue-1" ng-show="showSearch">
	<div class="md-toolbar-tools">
		<md-button ng-click="showSearch = !showSearch">
			<ng-md-icon icon="arrow_back"></ng-md-icon>
		</md-button>
		<md-input-container md-no-float flex>
			<input ng-model="search.nome" placeholder="enter search">
		</md-input-container>
		<md-button ng-click="showSearch = !showSearch">
			<ng-md-icon icon="search" fill="none"></ng-md-icon>
		</md-button>				
	</div>
</md-toolbar>

<md-button class="md-fab md-fab-bottom-right" ng-click="mostrarDialog('C', undefined, $event)">
	<ng-md-icon icon="add" fill="none"></ng-md-icon>
</md-button>

<md-content md-scroll-y layout="column" flex>
	<div layout-padding flex="noshrink">
		<div class="doc-content">
			<md-card ng-repeat="element in arcos | orderBy: 'ano' | filter:search">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{element.nome}} arc</span>
						<div ng-repeat="e in element.episodios | orderBy: 'numero'">
	          				<span class="{{ e.status ? 'red' : 'md-subhead' }}">{{e.numero +' - '+ e.nome}}</span>
	          			</div>	          			
					</md-card-title-text>
					<md-card-title-media>
						<img data-ng-src="data:image/(png|jpg);base64,{{element.imagem}}" class="image-relative-volume"/>
					</md-card-title-media>
				</md-card-title>
				<div ng-repeat="c in element.episodios | orderBy: 'numero' | filter: query"></div>
				<div style="padding: 16px 16px;">
					<md-progress-linear md-mode="determinate" ng-value="roundedPercentage((element.episodios | filter : query.status = true).length, element.episodios.length)"></md-progress-linear>
				</div>
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click="mostrarDialog('UD', element, $event)">
	           			CONFIGURA&#199;&#195;O
	         		</md-button>
					<md-button ng-click="episodioPage(element)">
	           			EPISODIOS
	         		</md-button>					
				</md-card-actions>
			</md-card>
		</div>
	</div>
</md-content>

<script type="text/ng-template" id="editor.html">
	<md-dialog class="dialog-95">
		<form name="inputForm" novalidate>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="retorno()">
						<ng-md-icon icon="arrow_back" fill="none"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Retorno</md-tooltip>					
					</md-button>					
					<h2>{{view.operaction}}</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="salvar()" ng-show="view.operaction === 'Adicionar' || view.operaction === 'Modificar'" ng-disabled="inputForm.$invalid">
						<ng-md-icon icon="save" fill="none"></ng-md-icon>
						<md-tooltip md-delay="1500" md-autohide="true">Salvar</md-tooltip>
					</md-button>
				</div>
			</md-toolbar>
			<md-dialog-content>
				<div layout="row" layout-xs="column">
					<div class="md-dialog-content" flex>
						<div ng-show="imageCropStep == 1">		
							<div ngf-drop ngf-select ng-model="files" class="drop-box" 
       							ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
       							accept="image/*" ngf-pattern="'image/*'">Largue as imagens aqui ou clique para fazer upload
       							<span ng-show="dropAvailable"> ou soltar de arquivo</span>
       						</div>		 
							<div class="preview">
								<img ngf-src="!files[0].$error && files[0]">
				        	</div>
						</div>
						<div ng-show="imageCropStep == 2">
							<image-crop			 
								data-height="380"
								data-width="290"
						 		data-shape="square"
						 		data-step="imageCropStep"
						 		src="imgSrc"
						 		data-result="result"
						 		data-result-blob="resultBlob"
						 		crop="initCrop"
						 		padding="10"
						 		max-size="390">
							</image-crop>
							<div layout="row" layout-align="center center" layout-wrap>									
								<md-button class="md-primary" ng-click="clear()">Cancelar</md-button>
								<md-button class="md-primary" ng-click="initCrop = true">OK</md-button>
							</div>							
						</div>
						<div ng-show="imageCropStep == 3">
					 		<img ng-src="{{result}}" class="img-responsive img-rounded"></img>
				  		</div>						
					</div>
					<div class="md-dialog-content" flex>
						<md-content layout-padding ng-cloak>							
							<md-input-container class="md-block">
								<label>Nome</label>
								<input type="text" name="nome" required md-maxlength="200" ng-model="view.selectedItem.nome" />
								<ng-messages for="inputForm.nome.$error">
									<ng-message when="required">O campo e obrigatorio</ng-message>
									<ng-message when="md-maxlength">Use 255 caracteres ou menos para o nome</ng-message>
                     			</ng-messages>
							</md-input-container>
							
							<div layout-gt-sm="row">															
								<md-datepicker ng-model="view.selectedItem.ano" md-placeholder="Ano publica&#231;&#227;o"></md-datepicker>
							</div>
							<md-input-container class="md-block" flex-gt-xs>
        						<label>Status</label>
        						<md-select ng-model="view.selectedItem.status">
          							<md-option ng-repeat="status in listStatus" value="{{status.category}}">
            							{{status.name}}
          							</md-option>
        						</md-select>
      						</md-input-container>							

						</md-content>
					</div>
				</div>
			</md-dialog-content>
		</form>
	</md-dialog>
</script>